@use '../core/config/scss' as config;
@use '../core/lib/scss' as lib;
@use '../core/ui/layout';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus-visible {
    outline: none;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: config.$colors-white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: config.$colors-black;
  }    
}

html {
  scroll-behavior: smooth;
  background-color: config.$colors-black-blue;
  font-family: config.$font-primary;
}

body {
  margin: 35px;
}

header {
  margin-bottom: 29px;
  display: flex;
  justify-content: left;
  align-items: center;
}

header h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: config.$colors-white;
}

.header__button {
  margin-right: 10px;
  &:last-child {
    margin-right: 0px;
  }
}

.header__search-input {
  margin: 0 16px;
}

.header__search-input label {
  width: 468px;
  height: 48px;
  padding-left: 12px;
  border: 1px solid config.$colors-grey;
  border-radius: 12px;
  display: flex;
  justify-content: left;
  align-items: center;
  & img {
    margin-right: 5px;
  }
  & input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    caret-color: config.$colors-white;
    color: config.$colors-white;
  }
}

.header__button-list .header__button {
  border: none;
  background-color: transparent;
  & label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    transition: ease-in-out 200ms;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.3px;
    color: config.$colors-white;
  }
  & img {
    margin-right: 10px;
  }
  & .button__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  & .button__checkbox+label {
    background: radial-gradient(circle at 100% 100%, #353542 0, #353542 9px, transparent 9px) 0% 0%/10px 10px no-repeat,
            radial-gradient(circle at 0 100%, #353542 0, #353542 9px, transparent 9px) 100% 0%/10px 10px no-repeat,
            radial-gradient(circle at 100% 0, #353542 0, #353542 9px, transparent 9px) 0% 100%/10px 10px no-repeat,
            radial-gradient(circle at 0 0, #353542 0, #353542 9px, transparent 9px) 100% 100%/10px 10px no-repeat,
            linear-gradient(#353542, #353542) 50% 50%/calc(100% - 2px) calc(100% - 20px) no-repeat,
            linear-gradient(#353542, #353542) 50% 50%/calc(100% - 20px) calc(100% - 2px) no-repeat,
            linear-gradient(#84d52c 0%, #171722 100%);
    border-radius: 10px;
    box-sizing: content-box;
    transition: ease-in-out 100ms;
    cursor: pointer;
  }
  & .button__checkbox:checked+label, .button__checkbox:focus-visible+label {
    background: radial-gradient(circle at 100% 100%, #212129 0, #212129 9px, transparent 9px) 0% 0%/10px 10px no-repeat,
            radial-gradient(circle at 0 100%, #212129 0, #212129 9px, transparent 9px) 100% 0%/10px 10px no-repeat,
            radial-gradient(circle at 100% 0, #212129 0, #212129 9px, transparent 9px) 0% 100%/10px 10px no-repeat,
            radial-gradient(circle at 0 0, #212129 0, #212129 9px, transparent 9px) 100% 100%/10px 10px no-repeat,
            linear-gradient(#212129, #212129) 50% 50%/calc(100% - 2px) calc(100% - 20px) no-repeat,
            linear-gradient(#212129, #212129) 50% 50%/calc(100% - 20px) calc(100% - 2px) no-repeat,
            linear-gradient(#84d52c 0%, #171722 100%);
    border-radius: 10px;
    box-sizing: content-box;
    transition: ease-in-out 100ms;
  }
  & .button__checkbox:not(:disabled):active+label {
    box-shadow: 0px 3px 15px 0px rgba(132, 213, 44, 0.2);
    background-color: config.$colors-grey-blue;
  }
}


.sliders {
  display: flex;
  justify-content: start;
  align-items: center;
}

.sliders__item {
  & span {
    color: config.$colors-white;
  }
}