section.sliders
    .sliders__list 
        .sliders__item 
            span Price Range
            #PriceRange 
        .sliders__item 
            span THC, %
            #THC
        .sliders__item 
            span CBD, %
            #CBD